.root {
  margin: 0;
}

.h1 {
  font: var(--font-h1);
}

.h2 {
  font: var(--font-h2);
}

.h3 {
  font: var(--font-h3);
}

.body1 {
  font: var(--font-body1);
}

.body2 {
  font: var(--font-body2);
}

.body3 {
  font: var(--font-body3);
}

.body4 {
  font: var(--font-body4);
}

.primary {
  color: var(--text-primary);
}

.secondary {
  color: var(--text-secondary);
}

.opacity {
  color: var(--text-opaciry);
}

.positive {
  color: var(--positive);
}

.negative {
  color: var(--negative);
}

.warning {
  color: var(--warning);
}

.weight-400 {
  font-weight: 400;
}

.weight-500 {
  font-weight: 500;
}

.weight-600 {
  font-weight: 600;
}

.weight-700 {
  font-weight: 700;
}
