.root {
  cursor: pointer;

  padding: var(--spacing-6) var(--spacing-12);
  border: none;
  border-radius: var(--rounded-md);

  font: var(--font-h3);
  color: var(--secondary-bgc);
  text-align: center;

  background: var(--gray2);

  transition: var(--transition);
}

.positive {
  background: var(--positive);
}

.negative {
  background: var(--negative);
}

@media (hover: hover) {
  .root:hover {
    filter: brightness(0.9);
  }
}

@media (hover: none) {
  .root:active {
    filter: brightness(0.9);
  }
}
